<h2>Welcome, <% if user_signed_in? && current_user.name %><%= current_user.first_name %><% else %> Friend<% end %>!</h2>

<p>DownTheTu.be - The only app for tracking barrel life for all of your firearms.</p>


